# shellcheck shell=bash
if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc" "sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="
fi

watch_file nix/flake.nix
watch_file nix/flake.lock

use flake path:nix

export WORKSPACE_ROOT="$PWD"
export PATH="$WORKSPACE_ROOT/node_modules/.bin/:$PATH"

export GGT_CONFIG_DIR="$WORKSPACE_ROOT/tmp/config"
export GGT_CACHE_DIR="$WORKSPACE_ROOT/tmp/cache"
export GGT_DATA_DIR="$WORKSPACE_ROOT/tmp/data"

NODE_EXTRA_CA_CERTS=$(mkcert -CAROOT)/rootCA.pem
export NODE_EXTRA_CA_CERTS

source_env_if_exists .envrc.local
