# shellcheck shell=bash

use flake

export WORKSPACE_ROOT="$PWD"
export PATH="$WORKSPACE_ROOT/node_modules/.bin/:$PATH"

NODE_EXTRA_CA_CERTS=$(mkcert -CAROOT)/rootCA.pem
export NODE_EXTRA_CA_CERTS

source_env_if_exists .envrc.local
