# shellcheck shell=bash

use flake

export GGT_SENTRY_ENABLED=0
export WORKSPACE_ROOT="$PWD"
export PATH="$WORKSPACE_ROOT/node_modules/.bin/:$PATH"

export SWCRC=true
export SWC_NODE_PROJECT="$WORKSPACE_ROOT/tsconfig.json"

NODE_EXTRA_CA_CERTS=$(mkcert -CAROOT)/rootCA.pem
export NODE_EXTRA_CA_CERTS

source_env_if_exists .envrc.local
